{% extends 'base.html' %}

{% block content %}
<div class="container">
        <h1>Coworking</h1>
        <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
        {% load static %}
      <img src="{% static 'img/lycs-architecture-U2BI3GMnSSE-unsplash (1).jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/rodeo-project-management-software-ONe-snuCaqQ-unsplash.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/jason-goodman-nF0nQuqBsrI-unsplash.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for category in categories %}
            <div class="col">
            <div class="card border-light mt-4 mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ category.title }}</div>
            <div class="card-body">
                <p class="card-text">{{ category.description }} </p>
                <a class="btn btn-outline-light" href="{% url 'category' category_id=category.id %}" role="button">Забронювати</a>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>

</div>

{% endblock %}
