{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Coworking</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for category in categories %}
            <div class="col">
            <div class="card border-light mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ category.title }}</div>
            <div class="card-body">
                <p class="card-text">{{ category.description }} </p>
                <a class="btn btn-outline-light" href="{% url 'category' category_id=category.id%}" role="button">Забронювати</a>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>

    </div>

{% endblock %}
